@media (max-width: 1720px) {
    .about-top {
        &__content {
            display: block;
            min-height: auto;
        }

        &__title {
            font-size: 35px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1600px) {
    .about-bottom__item {
        max-width: 100%;
    }
}